#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@font-face {
  font-family: 'ChosunGu';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: ChosunGu;
}

@font-face {
  font-family: 'ChosunGu';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'ChosunGu';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.yellowMark {
  background-color: #fdf4c3;
}
.blueMark {
  background-color: #d8eefd;
}
.greenMark {
  background-color: #d8f3dc;
}
.orangeMark {
  background-color: #ffe4c5;
}
/* btn */
.yellowBtn,
.yellowBackBtn:hover,
.blueBtn,
.blueBackBtn:hover,
.greenBtn,
.greenBackBtn:hover,
.orangeBtn,
.orangeBackBtn:hover,
.boardBtn{
  color: white;
  transition: 0.4s all ease;
}
.yellowBtn:hover,
.yellowBackBtn,
.blueBtn:hover,
.blueBackBtn,
.greenBtn:hover,
.greenBackBtn,
.orangeBtn:hover
.orangeBackBtn,
.boardBtn:hover{
  background-color: white;
}
.yellowBtn,
.yellowBackBtn:hover{
  background-color: #ffe39b;
  border: 1px solid #ffe39b;
}
.yellowBtn:hover,
.yellowBackBtn{
  border: 1px solid #ffe39b;
  color: #ffe39b;
}
.blueBtn,
.blueBackBtn:hover{
  background-color: #a0c4ff;
  border: 1px solid #a0c4ff;
}
.blueBtn:hover,
.blueBackBtn{
  border: 1px solid #a0c4ff;
  color: #a0c4ff;
}
.greenBtn,
.greenBackBtn:hover{
  background-color: #7ce48a;
  border : 1px solid #7ce48a;
}
.greenBtn:hover,
.greenBackBtn{
  color: #7ce48a;
  border: 1px solid #7ce48a;
}
.orangeBtn,
.orangeBackBtn:hover{
  background-color: #ffd2a0;
  border: 1px solid #ffd2a0;
}
.orangeBtn:hover,
.orangeBackBtn{
  color:#ffd2a0;
  border: 1px solid #ffd2a0;
}

.card {
  display: inline-block;
  transition: all 0.4s ease;
}
.card:hover {
  transform: scale(1.02);
}

.borderCard {
  display: grid;
  border-radius: 0.5em;
  border: 1px solid #dadada;
  width: 320px;
  height: 150px;
  padding: 10px;
}
.borderCardBody {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
}
.borderCardFooter {
  display: flex;
  justify-content: end;
}

.boardBtn {
  background-color: #E3D5CA;
  border: 1px solid #E3D5CA;
}
.boardBtn:hover {
  border: 1px solid #E3D5CA;
  color : #E3D5CA
}